src/flows.json
[{"id":"d9784060.2e475","type":"ibmiot","z":"a144a803.c8674","name":"raspi"},{"id":"caa2fe36.6d904","type":"websocket-listener","z":"a144a803.c8674","path":"/data","wholemsg":"false"},{"id":"9c8d0b05.6ef3b","type":"http response","z":"a144a803.c8674","name":"/index.html","x":590,"y":280,"wires":[]},{"id":"fd34697d.490358","type":"http in","z":"a144a803.c8674","name":"","url":"/index.html","method":"get","swaggerDoc":"","x":240,"y":280,"wires":[["7e3961c4.fd5dc8"]]},{"id":"b7a625ab.612d2","type":"http response","z":"a144a803.c8674","name":"/index.js","x":580,"y":320,"wires":[]},{"id":"d191c297.68ece8","type":"http in","z":"a144a803.c8674","name":"","url":"/index.js","method":"get","swaggerDoc":"","x":250,"y":320,"wires":[["a7bd6215.89aa5"]]},{"id":"505cca23.1ddedc","type":"websocket out","z":"a144a803.c8674","name":"","server":"caa2fe36.6d904","client":"","x":580,"y":440,"wires":[]},{"id":"cc4e02ea.b67e","type":"websocket in","z":"a144a803.c8674","name":"","server":"caa2fe36.6d904","client":"","x":269,"y":484,"wires":[["da99d9c8.ca07d8"]]},{"id":"7e3961c4.fd5dc8","type":"template","z":"a144a803.c8674","name":"index.html","field":"payload","fieldType":"msg","format":"html","syntax":"plain","template":"<!DOCTYPE html>\n<head>\n  <meta charset=\"utf-8\">\n  <title>Example</title>\n  <script src=\"//cdnjs.cloudflare.com/ajax/libs/canvasjs/1.7.0/canvasjs.min.js\"></script>\n  <script src=\"index.js\" defer></script>\n\n  <style>\n    body { text-align: center; }\n    #graph {\n      width: 100%;\n      height: 500px;\n    }\n  </style>\n</head>\n\n<div id=\"graph\"></div>\n<div>Angle: <span id=\"angle\">??</span>°</div>\n<input type=\"button\" id=\"turn-btn\" value=\"Turn\">","x":420,"y":280,"wires":[["9c8d0b05.6ef3b"]]},{"id":"a7bd6215.89aa5","type":"template","z":"a144a803.c8674","name":"index.js","field":"payload","fieldType":"msg","format":"text","syntax":"plain","template":"!function() {\n  \"use strict\";\n\n  var socket = new WebSocket('ws://' + window.location.host + '/data');\n  socket.onmessage = function(e) {\n    var item = JSON.parse(e.data);\n\n    switch (item.topic) {\n      case 'temperature':\n        processTemp(item.data);\n        break;\n      case 'angle':\n        processAngle(item.data);\n        break;\n      case 'predicted':\n        processPredicted(item.data);\n        break;\n    }\n  };\n\n  /*\n   * Temperature.\n   */\n  var actual = [{x: new Date}];\n  var predicted = [];\n  var $graph = document.querySelector('#graph');\n\n  var chart = new CanvasJS.Chart($graph, {\n    axisX: {title: \"Timeline\"},\n    axisY: {title: \"Temperature\"},\n    data: [{\n      type: \"spline\",\n      dataPoints: actual\n    }, {\n      type: \"line\",\n      dataPoints: predicted,\n      lineThickness: 1,\n      lineDashType: 'dashDot'\n    }]\n  });\n\n  chart.render();\n\n  function processTemp(temp) {\n    var now = new Date;\n\n    if (+now - actual[0].x > 2 * 60 * 1000)\n      actual.shift();\n\n    var point = {x: now, y: temp};\n\n    actual.push(point);\n    predicted[0] = point;\n\n    chart.render();\n  }\n\n  function processPredicted(temp) {\n    predicted[1] = {\n      x: new Date(Date.now() + 60 * 1000),\n      y: temp\n    };\n\n    chart.render();\n  }\n\n  /*\n   * Angle.\n   */\n  var $angle = document.querySelector('#angle');\n\n  function processAngle(angle) {\n    $angle.innerHTML = angle;\n  }\n\n  /*\n   * Button.\n   */\n  var $button = document.querySelector('#turn-btn');\n  $button.onclick = function() {\n    socket.send(true);\n  };\n\n}();","x":420,"y":320,"wires":[["b7a625ab.612d2"]]},{"id":"f53ffdf3.a89788","type":"ibmiot in","z":"a144a803.c8674","authentication":"boundService","apiKey":"d9784060.2e475","inputType":"evt","deviceId":"b827eb79051a","applicationId":"","deviceType":"+","eventType":"+","commandType":"","format":"json","name":"raspi","service":"registered","allDevices":"","allApplications":"","allDeviceTypes":true,"allEvents":true,"allCommands":"","allFormats":"","x":270,"y":440,"wires":[["36f02925.de8b86"]]},{"id":"36f02925.de8b86","type":"function","z":"a144a803.c8674","name":"transform","func":"return {\n    payload: {\n        topic: msg.eventType,\n        data: msg.payload\n    }\n};","outputs":1,"noerr":0,"x":420,"y":440,"wires":[["505cca23.1ddedc"]]},{"id":"da99d9c8.ca07d8","type":"ibmiot out","z":"a144a803.c8674","authentication":"boundService","apiKey":"d9784060.2e475","outputType":"cmd","deviceId":"b827eb79051a","deviceType":"bmstu001","eventCommandType":"button","format":"json","data":"null","name":"raspi","service":"registered","x":579,"y":484,"wires":[]},{"id":"23a20494.5e1b94","type":"ibmiot in","z":"a144a803.c8674","authentication":"boundService","apiKey":"","inputType":"evt","deviceId":"b827eb79051a","applicationId":"","deviceType":"+","eventType":"+","commandType":"","format":"json","name":"raspi","service":"registered","allDevices":false,"allApplications":false,"allDeviceTypes":true,"allEvents":true,"allCommands":false,"allFormats":false,"x":110,"y":600,"wires":[["ede2779e.9cb878"]]},{"id":"15e30faf.45971","type":"inject","z":"a144a803.c8674","name":"every 30 minutes","topic":"","payload":"","payloadType":"date","repeat":"1800","crontab":"","once":true,"x":240,"y":800,"wires":[["3bf265ea.3511ba"]]},{"id":"b034090e.98b82","type":"comment","z":"a144a803.c8674","name":"Удаление устаревших данных.","info":"","x":230,"y":760,"wires":[]},{"id":"3bf265ea.3511ba","type":"dashDB in","z":"a144a803.c8674","service":"dashDB-3h","query":"DELETE FROM TEMP WHERE TIME <= (SELECT MAX(TIME) FROM TEMP) - 3600000;","params":"","name":"DLELETE OLD FROM TEMP","x":520,"y":800,"wires":[[]]},{"id":"f30d4442.b5f06","type":"function","z":"a144a803.c8674","name":"URI creator","func":"var source = encodeURIComponent('source(\"~/predict.r\")');\nmsg.payload = 'cmd=RScriptRunScript&command='\n            + source\n            + '&fileName=&profileName=BLUDB&userid=dash107216';\nmsg.headers = {'content-type': 'application/x-www-form-urlencoded'};\nreturn msg;","outputs":1,"noerr":0,"x":370,"y":700,"wires":[["40413721.a4d91"]]},{"id":"40413721.a4d91","type":"http request","z":"a144a803.c8674","name":"R Script","method":"POST","ret":"obj","url":"https://yp-dashdb-small-01-lon02.services.eu-gb.bluemix.net:8443/console/blushiftservices/BluShiftHttp.do","x":520,"y":700,"wires":[["2c93f942.3e919e"]]},{"id":"ec2bf751.a19198","type":"inject","z":"a144a803.c8674","name":"every 30 seconds","topic":"","payload":"","payloadType":"date","repeat":"30","crontab":"","once":true,"x":153,"y":699.5,"wires":[["f30d4442.b5f06"]]},{"id":"bf0adc1.5ddfea","type":"delay","z":"a144a803.c8674","name":"","pauseType":"rate","timeout":"5","timeoutUnits":"seconds","rate":"128","rateUnits":"hour","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":true,"x":464,"y":600,"wires":[["b78588b4.5c92a"]]},{"id":"e7681df7.891d58","type":"dashDB out","z":"a144a803.c8674","service":"dashDB-3h","table":"TEMP","name":"","x":798,"y":600,"wires":[]},{"id":"b78588b4.5c92a","type":"function","z":"a144a803.c8674","name":"transform","func":"msg.payload = {\n    TIME: Date.now(),\n    TEMP: msg.payload\n};\n\nreturn msg;","outputs":1,"noerr":0,"x":648,"y":600,"wires":[["e7681df7.891d58"]]},{"id":"2c93f942.3e919e","type":"function","z":"a144a803.c8674","name":"parser","func":"if (msg.payload.resultcode !== 'success')\n    return null;\n\nvar data = JSON.parse(msg.payload.items);\nvar temp = parseFloat(data.RModelOutput);\n\nreturn {\n    payload: {\n        topic: 'predicted',\n        data: temp\n    }\n};","outputs":1,"noerr":0,"x":650,"y":700,"wires":[["a5694a7b.056de8"]]},{"id":"a5694a7b.056de8","type":"websocket out","z":"a144a803.c8674","name":"","server":"caa2fe36.6d904","client":"","x":820,"y":700,"wires":[]},{"id":"1f0de3ab.9b71c4","type":"comment","z":"a144a803.c8674","name":"Статический сервер.","info":"","x":200,"y":240,"wires":[]},{"id":"f64ae7ec.837b88","type":"comment","z":"a144a803.c8674","name":"Получение и отправка сырых данных.","info":"","x":250,"y":400,"wires":[]},{"id":"ede2779e.9cb878","type":"switch","z":"a144a803.c8674","name":"if temperature","property":"eventType","propertyType":"msg","rules":[{"t":"eq","v":"temperature","vt":"str"}],"checkall":"false","outputs":1,"x":275,"y":600,"wires":[["bf0adc1.5ddfea"]]},{"id":"939eecf8.aa2ca","type":"comment","z":"a144a803.c8674","name":"Сбор температуры для регрессии.","info":"","x":240,"y":560,"wires":[]},{"id":"af97150e.0fe8f8","type":"comment","z":"a144a803.c8674","name":"Предиктивный анализ.","info":"","x":200,"y":660,"wires":[]}]
